<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Cupa Question">
    <meta name="author" content="Sergio Garcia">

    <title>Cupa Questions</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="contanier-fluid header">
            <div class="container">
                <div class="rrss-box"><a href="/salir">Salir de la plataforma</a></div>
            </div>
        </div>
        <div class="container">
            <div class="logo-box">
                <img src="/img/logo.png">
            </div>
        </div>
    </header>
