<% include ./header %>

<main>
    <div class="container">
        <div id="tabs">
            <div>
                <h3>Estadisticas Globales</h3>
                <div class="area-tab">
                    <div class="selectors">
                        <div class="input-area-selectors">
                            De <input type="date" class="fecha" id="fecha-desde"> hasta <input type="date" class="fecha" id="fecha-hasta">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div>
                                <h3 class="title-chart">Encuestas realizadas</h3>
                                <canvas id="myChart1" width="550" height="300"></canvas>
                            </div>
                            <div>
                                <h3 class="title-chart">Tipo de cliente</h3>
                                <canvas id="myChart2" width="550" height="300"></canvas>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3 class="title-chart">Particuler</h3>
                                    <canvas id="myChart3" width="250" height="250">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h3 class="title-chart">PRO</h3>
                                    <canvas id="myChart4" width="250" height="250">
                                </div>
                                <div class="col-xs-6">
                                    <h3 class="title-chart">Particuler</h3>
                                    <canvas id="myChart5" width="250" height="250">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3>Estadisticas Locales</h3>
                <div class="area-tab">
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="date" name="fechahora">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">asd</div>
                        <div class="col-xs-6">asd</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<% include ./footer %>
